<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/styleStock.css">
</head>
    <body>
            <%- include("../partials/header.ejs") %>
        <main>
            <article>
                <div class="article-flex-container">
                    <div class="stock-manager-title">
                        <h2>Manejo del stock de productos</h2>
                    </div>
                    <div class="stock-manager-form">
                    <form class="formProductCreate" method="POST" action="/productos" enctype="multipart/form-data">
                        <div class="form-container">
                            <label for="nombre">Nombre del producto</label>
                            <input type="text" name="product_name" id="productName"
                            value="<%= locals.old && old.product_name %>" />
                            <% if (locals.errors && errors.product_name) { %>
                                <p><%= errors.product_name.msg %></p>
                                <% } %>
                        </div>
                        <div class="error-product-name">
                            <!-- contenido generado por validación en Front (productCreateFrontValidation.js) -->
                        </div>
                        <div class="form-container">
                            <label for="foto">Imagen del producto</label>
                            <input type="file" name="product_image" accept=".jpg, .png" id="productImage" 
                            value="<%= locals.old && old.product_image %>" />
                            <% if (locals.errors && errors.product_image) { %>
                                <p><%= errors.product_image.msg %></p>
                                <% } %>
                        </div>   
                        <div class="error-product-image">
                            <!-- contenido generado por validación en Front (productCreateFrontValidation.js) -->
                        </div>

                        <div class="form-container-description">
                            <label for="descripcion">Descripción del producto</label>
                            <textarea id="productDescription" name="product_description" rows="3"><%= locals.old && old.product_description %></textarea>
                                <% if (locals.errors && errors.product_description) { %>
                                    <p><%= errors.product_description.msg %></p>
                                    <% } %>
                        </div>
                        <div class="error-product-description">
                            <!-- contenido generado por validación en Front (productCreateFrontValidation.js) -->
                        </div>            
                        <div class="form-container">
                            <label for="color">Color del producto</label>
                            <br />
                            <select name="id_color">
                                <option value="1">Blanco</option>
                                <option value="2">Gris</option>
                                <option value="3">Negro</option>
                            </select>
                        </div>
                        <div class="form-container">
                            <label for="categoria">Categoría del producto</label>
                            <br />
                            <select name="id_compatibility">
                                <option value="1">Alexa</option>
                                <option value="2">Siri</option>
                            </select>
                        </div>
                        <div class="form-container">
                            <label>Precio del producto</label>
                            <input type="text" name="product_price"
                            value="<%= locals.old && old.product_price %>" />
                            <% if (locals.errors && errors.product_price) { %>
                                <p><%= errors.product_price.msg %></p>
                                <% } %>
                        </div>
                        <div class="form-container-buttons">
                            <input class="form-button" type="reset" value="Limpiar datos">
                            <input class="form-button" type="submit" value="Crear producto">
                        </div>
                    </form>
                    </div>
                </div>
            </article>
        </main>
        <%- include("../partials/footer.ejs") %>
        <script src="/js/productCreateFrontValidations.js"></script>
    </body>
</html>