<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ("../partials/head.ejs") %>
        <link rel="stylesheet" href="../css/detail.css">
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <article>
                <div class="article-flex-container">
                    <div class="titlePic">
                        <h2> <%= article.product_name %> </h2>
                        <a href="/Detalle/<%= article.id %>">
                            <img class="product_img" src="/images/Products/<%= article.product_image %>" alt="<%= article.product_name %>" />
                        </a>
                    </div>            
                    <div class="main-article">
                        <div class="product-info">
                            <h3 class="price">
                                Precio: $ <%= article.product_price %>
                            </h3>
                            <p class="description">
                                <%= article.product_description %>
                            </p>
                            <p class="colors">
                                Colores disponibles: <%= article.product_colors.color %>
                            </p>
                            <p class="compatiblity">
                                Compatible con: <%= article.product_compatibilities.device_name %>
                            </p>
                        </div>
                        <div class="button-flex-container">
                            <!-- <form action="/cart" method="POST">
                                <div class="form-input">
                                    <label for="product_quantity">
                                        Cantidad:
                                    </label>
                                    <input name="product_quantity" type="number" min="1" value="1" />
                                </div>
                                <button type="button" class="button-50">
                                    Comprar
                                </button>
                            </form> -->
                            <a href="/buy/<%= article.id %>">
                                <button type="button" class="button-50">
                                    Comprar
                                </button>
                            </a>
                        </div>
                        <div class="<%= (locals.user && user.id_category=="1") ? 'Show' : 'Edition-Delete' %>">
                            <a href="/<%= article.id %>/edit">
                                <button type="button" class="button-50">
                                    Editar producto
                                </button>
                            </a>
                            <form action="/<%= article.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="button-50">
                                    Eliminar producto
                                </button> 
                            </form>
                        </div>
                    </div>
                </div>
                
            </article>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>
</html>