<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head.ejs") %>
        <link rel="stylesheet" href="../css/styleEdit.css">
</head>

<body>
    <%- include("../partials/header.ejs") %>
        <main>
            <div class="box">
                <h2 class="editTitle">Edicion de Producto: <i>
                        <%= productToEdit.name %>
                    </i></h2>
                <form action="/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="column1">
                        <div class="nombreProducto">
                            <label for="name" class="form-label">Nombre del producto:</label>
                            <br>
                            <input type="text"  id="name" name="product_name"
                                placeholder="Ej: Amazon Echo Dot" class="form-input"
                                value="<%= locals.old ? old.product_name: productToEdit.product_name %>" />
                            <% if (locals.errors && errors.product_name) { %>
                                <p>
                                    <%= errors.product_name.msg %>
                                </p>
                                <% } %>

                        </div>
                    </div>
                    <div class="column2">
                        <label for="description" class="form-label">Descripción:</label>
                        <br>
                        <textarea name="product_description" id="description" class="form-input"><%= locals.old ? old.product_description : productToEdit.product_description %></textarea>
                        <% if (locals.errors && errors.product_description) { %>
                            <p>
                                <%= errors.product_description.msg %>
                            </p>
                            <% } %>
                    </div>
                    <div class="imagen1">
                        <label for="imagen">Imagen</label>
                        <div class="imagen2">
                            <input type="file" name="product_image" id="imagen">
                            <% if (locals.errors && errors.product_image) { %>
                                <p>
                                    <%= errors.product_image.msg %>
                                </p>
                                <% } %>
                        </div>
                    </div>
                    <div class="colores">
                        <label for="colores">Colores</label>
                        <br>
                        <select name="id_color" id="colores" required>
                            <option value="<%= productToEdit.id_color %>">
                                <%= productToEdit.product_colors.color %>
                            </option>
                            <option value="1">Blanco</option>
                            <option value="2">Gris</option>
                            <option value="3">Negro</option>
                        </select>
                    </div>
                    <div class="form-container">
                        <label for="categoria">Categoría del producto</label>
                        <br>
                        <select name="id_compatibility">
                            <option value="<%= productToEdit.id_compatibility %>">
                                <%= productToEdit.product_compatibilities.device_name %>
                            </option>
                            <option value="1">Amazon Alexa</option>
                            <option value="2">Apple Siri</option>
                        </select>
                    </div>
                    <div class="column3">
                        <label for="price" class="form-label">Precio del producto:</label>
                        <br>
                        <input type="text"  id="price" name="product_price"
                             class="form-input"
                            value="<%= locals.old ? old.product_price : productToEdit.product_price %>" />
                        <% if (locals.errors && errors.product_price) { %>
                            <p>
                                <%= errors.product_price.msg %>
                            </p>
                            <% } %>
                    </div>
                    <div class="column4">
                        <button type="submit" class="button-50">Guardar producto</button>
                    </div>
                </form>
            </div>
        </main>
        <%- include("../partials/footer.ejs") %>
        <script src="/js/productEditValidations.js"></script>
</body>

</html>