<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ("../partials/head.ejs") %>
        <link rel="stylesheet" href="../css/list.css">
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <% if (article == "") { %>
                <div class="no-results-found-alert">
                    <p>Lo sentimos - No hay productos relacionados con la búsqueda realizada :(</p>
                </div>
            <% } else { %>
                <% article.forEach(product => { %>
                    <article>
                        <h2><%= product.product_name %></h2>
                        <div class="image-link">
                            <a href="/Detalle/<%= product.id %>">
                                <img src="/images/Products/<%= product.product_image %>" alt="<%= product.product_name %>" class="product_img">
                            </a>
                        </div>              
                        <div class="main-article">
                            <p class="price">Precio: $ <%= product.product_price %>
                            </p>
                            <h4 class="description"> <%= product.product_description %>
                            </h4>
                            <p class="colours">Colores: <%= product.product_colors.color %>
                            </p>
                            <p class="compatiblity">Compatible con: <%= product.product_compatibilities.device_name %>
                            </p>
                        </div>
                    </article>
                <% }) %>
            <% } %>
        </main>
        <div class="<%= (locals.user && user.id_category=="1") ? 'show' : 'create-button' %>">
            <!-- <div class="create-buttom"> -->
                <a href="/products">
                    <button type="button" class="button-50">
                        Crear producto
                    </button>
                </a>
            </div>
        <%- include("../partials/footer.ejs") %>
    </body>
</html>