<!DOCTYPE html>
<html lang="en">
    ​<head>
        <%- include ("../partials/head.ejs") %>
        <link rel="stylesheet" href="./css/profile.css">
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <div class="profile-container">
                <img src="/images/users/<%= user.profile_image %> ">
                <div class="profile-info">
                    <h2>
                        Hola <%= user.first_name %>
                    </h2>
                    <a href="/user/<%= user.id %>/edit">
                        <button type="button">
                            Editar perfil
                        </button>
                    </a>
                    <br>
                    <div class="email">
                        <%= user.email %> 
                    </div>
                    <br>
                    <a href="/logout/">
                        <button type="button">
                            Cerrar sesión
                        </button>
                    </a>
                </div>
            </div>
        </main> 
        <%- include("../partials/footer.ejs") %>
    </body>
</html>